In [25]:
import pandas as pd
import math as math
from scipy.spatial import distance

In [2]:
with open("nba_2013.csv","r") as csvfile:
    nba = pd.read_csv(csvfile)

In [3]:
nba.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [4]:
nba.columns.values

array(['player', 'pos', 'age', 'bref_team_id', 'g', 'gs', 'mp', 'fg',
       'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.',
       'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov',
       'pf', 'pts', 'season', 'season_end'], dtype=object)

In [7]:
selected_player = nba[nba["player"]=='LeBron James'].iloc[0]

In [8]:
selected_player

player          LeBron James
pos                       PF
age                       29
bref_team_id             MIA
g                         77
gs                        77
mp                      2902
fg                       767
fga                     1353
fg.                    0.567
x3p                      116
x3pa                     306
x3p.                0.379085
x2p                      651
x2pa                    1047
x2p.                0.621777
efg.                    0.61
ft                       439
fta                      585
ft.                     0.75
orb                       81
drb                      452
trb                      533
ast                      488
stl                      121
blk                       26
tov                      270
pf                       126
pts                     2089
season             2013-2014
season_end              2013
Name: 225, dtype: object

In [9]:
distance_columns = ['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts']

In [12]:
def euclidean_distance(row):
    inner_value = 0
    for k in distance_columns:
        inner_value = inner_value + (row[k] - selected_player[k])**2
    return math.sqrt(inner_value)

lebron_distance = nba.apply(euclidean_distance,axis=1)

In [16]:
nba_numeric = nba[distance_columns]

nba_normalized = (nba_numeric - nba_numeric.mean()) /nba_numeric.std()

In [20]:
nba_normalized.isnull().any()

age     False
g       False
gs      False
mp      False
fg      False
fga     False
fg.      True
x3p     False
x3pa    False
x3p.     True
x2p     False
x2pa    False
x2p.     True
efg.     True
ft      False
fta     False
ft.      True
orb     False
drb     False
trb     False
ast     False
stl     False
blk     False
tov     False
pf      False
pts     False
dtype: bool

In [21]:
nba_normalized.fillna(0,inplace=True)

In [23]:
nba_normalized.isnull().any()

age     False
g       False
gs      False
mp      False
fg      False
fga     False
fg.     False
x3p     False
x3pa    False
x3p.    False
x2p     False
x2pa    False
x2p.    False
efg.    False
ft      False
fta     False
ft.     False
orb     False
drb     False
trb     False
ast     False
stl     False
blk     False
tov     False
pf      False
pts     False
dtype: bool

In [27]:
lebron_normalized = nba_normalized[nba["player"] == "LeBron James"]
eculidian_distances = nba_normalized.apply(lambda row : distance.euclidean(row, lebron_normalized), axis=1)
eculidian_distances

0      13.131600
1      12.180993
2      11.850978
3       6.473960
4      12.182853
5      13.881297
6       6.745977
7      12.403945
8      10.395894
9      10.649743
10      9.785699
11     14.803723
12     11.502708
13     10.863219
14      9.116650
15     12.647002
16     10.353420
17      4.171854
18     15.109541
19     12.044387
20      7.613101
21     14.902435
22     12.021561
23     12.056919
24      9.056844
25     13.810640
26     12.382987
27     15.323273
28     13.977957
29     14.084593
         ...
451     4.937466
452    11.488794
453    14.824086
454    11.674824
455    15.610856
456    15.214291
457    10.371671
458     7.283207
459     7.381408
460    18.235339
461    18.306939
462     7.918121
463    10.132054
464    11.825950
465    10.510909
466    10.392935
467     9.827142
468    14.993251
469    13.268025
470    13.389306
471    11.530440
472    14.058841
473    11.574653
474    14.994545
475    12.376936
476     8.083717
477     8.543626
478     6.254191
479    11.273059
480    11.901991
Length: 481, dtype: float64

In [28]:
from scipy.spatial import distance
lebron_normalized = nba_normalized[nba["player"] == "LeBron James"]
eculidian_distances = nba_normalized.apply(lambda row : distance.euclidean(row, lebron_normalized), axis=1)

In [37]:
distance_frame = pd.DataFrame(data={"dist":eculidian_distances,"idx":eculidian_distances.index})
distance_frame.sort_values('dist',inplace=True)

In [42]:
distance_frame.iloc[1]['idx']

17.0

In [44]:
nba.loc[int(distance_frame.iloc[1]['idx'])]['player']

'Carmelo Anthony'

In [45]:
nba.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [46]:
from sklearn.model_selection import train_test_split

In [51]:
x_columns = ['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf']
y_column = ["pts"]

from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=5)
x_train , x_test , Y_train , Y_test = train_test_split(nba_normalized[x_columns],nba_normalized[y_column],random_state=0)

In [52]:
knn.fit(x_train,Y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=5, p=2,
          weights='uniform')

In [53]:
Y_PRED = knn.predict(x_test)

In [54]:
from sklearn.metrics import accuracy_score

# mean squared error

In [56]:
mse = ((Y_PRED - Y_test) ** 2 ).sum()/len(Y_PRED)

In [57]:
mse

pts    0.034933
dtype: float64

# so Y-Actual = Y_PRED (+ or -)  0.034933